<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/header.png">

    <title>Pony Pricer</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
     
   

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

    /* http://css-tricks.com/perfect-full-page-background-image/ */
    /*horse fence*/
    html {
      background: url('https://static.pexels.com/photos/6468/animal-brown-horse.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      fontFamily: "'Unica One', sans-serif";
    }

    body {
      padding-top: 20px;
      font-size: 16px;
      background: transparent;

    }

    h1 {
      font-weight: 400;
      font-size: 40px;

    }
    .header,
    .container,
    .panel,
.marketing,
.jumbotron,
.footer,
.navbar
{
  margin: 25px;
}



    /* Override B3 .panel adding a subtly transparent background */
    .jumbotron {
      background-color: rgba(255, 255, 255, 0.9);
    }
    .panel {
      background-color: rgba(0, 0, 0, 0.85);
    }

    .margin-base-vertical {
      margin: 40px 0;
    }

  </style>

  </head>

  <body>


      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="https://www.linkedin.com/in/jbrosamer"><i class="fa fa-linkedin fa-2x"></i></a></li>
            <li role="presentation"><a href="https://github.com/jbrosamer"><i class="fa fa-github fa-2x"></i></a></li>
            <li role="presentation"><a href="mailto:jbrosamer@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a></li>
            <li role="presentation"><a href="http://www.slideshare.net/secret/ycsqwS2iOtMoTO">Slides</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="./input"><i class="fa fa-arrow-left"></i>Price another pony</a></h3>
      </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        
        
        <h1>Estimated price: ${{ estimate | int }}</h1>
        {% if estimate > askingPrice %}
        
          <p style="font-size:x-large"><i class="fa fa-thumbs-o-up"></i>
               Probably a good deal!
            </p>
            <h5>
          ${{ (estimate-askingPrice)  | int }} predicted savings with a ${{ askingPrice | int }} asking price
        </h5>
      {% else %}
      <p style="font-size:x-large"><i class="fa fa-thumbs-o-down"></i>
               Probably a bad deal!
            </p>
          <h3>
          ${{ (askingPrice-estimate)  | int }} predicted loss with a ${{ askingPrice | int }} asking price
        </h3>
          
      {% endif %}
      {% for o in outStrs %}
            <p style="font-size:medium">{{ o }}</p>
        {% endfor %}
      </div>
    </div>
      <!-- Example row of columns -->
      <div class="panel">
        <ul class="nav nav-tabs">
            <li role="button" id="ageBtn"><a href="#">Age</a></li>
  <li role="button" id="genderBtn"><a href="#">Gender</a></li>

  <li role="button"id="htBtn"><a href="#">Height</a></li>
</ul>

        <div id='ageDiv'>
         <p id="agePlt" style="min-width: 95%; height: 500px; margin: 0"></p>
       </div>
               <div id='genderDiv'>
           <div id="genderPlt" style="min-width: 95%; height: 500px; margin:0 "></div>
        </div>
        <div id='htDiv'>
           <p id="htPlt" style="min-width: 95%; height: 500px; margin:0"></p>
        </div>
      </div>

      <hr>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="../static/js/charttheme.js"></script>
    <script type="text/javascript">$(function () {


    $('#genderPlt').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Predicted price for this horse with different gender'
        },
        xAxis: {
            categories: ["Gelding", "Mare", "Stallion"],
            crosshair: true
        },
        legend: {
        enabled: false
      },
        yAxis: {
            min: 0,
            title: {
                text: 'Estimated price ($)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>$ {point.y:.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                marker: {
                          enabled: false,
                        symbol: 'url(../static/img/horse.png)',
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: [{
            name: 'Price',
            data: {{genderData|tojson|safe}}

        }]
    });
});
$(function () {
    $('#agePlt').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'Predicted price over life of this horse'
        },
        legend: {
        enabled: false
      },
        xAxis: {
          title: { text: "Age (years)"},
            categories: {{ageRange|tojson|safe}}
        },
        yAxis: {
            title: {
                text: 'Estimated price ($)'
            }
        },
        plotOptions: {
            area: {
                marker: {
                          enabled: false,
                        symbol: 'url(../static/img/horse.png)',
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key} years</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>$ {point.y:.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        series: [{
            name: 'Price',
            data: {{ageData|tojson|safe}}
        }]
    });
});

$(function () {
    $('#htPlt').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'Predicted price for this horse with different height'
        },
        xAxis: {
          gridLineWidth: 0,
          title: { text: "Height (inches)"},
            categories: {{heightRange|tojson|safe}}
        },
        legend: {
        enabled: false
      },
      plotOptions: {
            area: {
                marker: {
                    enabled: false,
                    symbol: 'url(../static/img/horse.png)',
                    // radius: 0.05,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        yAxis: {
          gridLineWidth: 0,

            title: {
                text: 'Estimated price ($)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key} in</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>$ {point.y:.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        series: [{
            name: 'Price',
            data: {{heightData|tojson|safe}}
        }]
    });
});

$("#genderBtn").click(function() { 
    // assumes element with id='button'
     $("#genderDiv").show();
     $("#ageDiv").hide();
     $("#htDiv").hide();

});
$("#ageBtn").click(function() { 
    // assumes element with id='button'
     $("#ageDiv").show();
     $("#genderDiv").hide();
     $("#htDiv").hide();

});
$("#htBtn").click(function() { 
    // assumes element with id='button'
     $("#genderDiv").hide();
     $("#ageDiv").hide();
     $("#htDiv").show();

});
  $("#ageBtn").click();




    </script>
  </body>
</html>
